<% @tasks_pend.each do |task_pend| %>
  <tr>
    <% project = @projects.find(task_pend.project_id) %>
    <% if project.icon_path != nil %>
    <td class="col-xs-2 col-sm-2 col-md-2">
      <%= image_tag (Settings.uploads[:project_icon_dir]+project.icon_path) %>
    </td>
    <% else %>
    <td><%= project.project_name %></td>
    <% end %>
    <td><%= task_pend.task_name %></td>
    <td><%= task_pend.memo %></td>
    <td>
      <div class="btn-group-vertical">
        <%= link_to 'TODO', update_status_task_path(task_pend, new_status: Settings.task_status[:todo]), remote: true, class: "btn btn-primary btn-xs" %>
        <%= link_to 'DONE', update_status_task_path(task_pend, new_status: Settings.task_status[:done]), remote: true, class: "btn btn-success btn-xs" %>
      </div>
    </td>
  </tr>
<% end %>