<h1>archaeologist</h1>

<h2>Can i have your name?</h2>
<%= form_for(:user, url: signin_users_path) do |f| %>
  <% if @error_msg %>
    <div id="error_explanation">
      <p>
        <%= @error_msg %>
      </p>
    </div>
  <% end %>
  <p>
    <%= f.label "Your name is " %> 
    <%= f.text_field :user_name %>
  </p>
  <p>
    <%= f.submit "Proceed" %>
  </p>
<% end %>

<%= link_to 'Sign up', new_user_path %>

<% if false %>
<%= link_to 'Go mark', controller: 'histories' %>
<% end %>